/** Stylesheet for printing resumes **/

article#content.resume.plain {
  color: #000000;
}

article#content.resume.plain a {
  color: #000000;
  text-decoration: none;
}

article#content.resume.plain header h1.name,
article#content.resume.plain h2,
article#content.resume.plain ul.section>li>h3 {
  color: #000000;
}

article#content.resume header {
  border-color: #000000;
}
